@import
  'vendor/vendor';

header {
  height: 0;
  margin-bottom: 1em;
  padding-bottom: 20%;
  text-indent: -99999px;

  background-image: image-url('header.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

footer {
  margin-top: 1em;
  padding-bottom: 42%;

  background-image: image-url('footer.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  text-indent: -99999px;
}

header, footer {
  @include outer-container();

  h1 {
    margin: 1em 0;
  }
}

#instafeed {
  @include outer-container();
  a {
    display: block;
    margin-bottom: 1em;

    @include span-columns(12);

    @media screen and (min-width: 999px) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}
